.office_main {
    width: 100%;
    margin: 180px 0px;
    padding: 0px 25%;
    color: black;
}

.office_main .office_list {
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
}

.office_main .office_list .col3_title {
    text-align: left;
}

.office_main .office_list th {
    border-top: 2px solid black;
    font-weight: bold;
    padding: 13px 0px;
    background-color: #eeeeee;
    line-height: 24px;
}

.office_main .office_list td {
    box-sizing: boorder-box;
    padding: 13px 0px;
    line-height: 24px;
}

.office_main .col3_notice{
	background-color: #eeeeee;
}

.office_main .office_title {
    display: inline;
    width: 100%;
}

.office_main .office_comment {
    font-size: 12px;
    margin-left: 0.5rem;
    margin-left: 0.2rem;
    width: 60%;
    background-color: green;
    color: white;
    opacity: 0.8;
    border-radius: 10px;
    padding: 3px 5px;
}

.office_main .office_list tr {
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
}

.office_main .office_footer {
    margin-top: 30px;
}

.office_main .office_footer input,
.office_main .office_footer select {
    border: none;
    outline: none;

}

.office_main .search_bar,
.office_main .office_footer_search_select {
    border-bottom: 1px solid #f2f2f2;
    font-family: "Noto Sans KR", sans-serif;
}

.office_main .office_footer_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 26%;
}

.office_main .search_btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    width: 56px;
    height: 25px;
    font-size: 14px;
    margin-right: 5px;
    font-family: "Noto Sans KR", sans-serif;
    outline: none;
}

.office_main table td a {
    display: block;
    width: 100%;
    height: 100%;
}

/* 페이징 넘버 */
.office_main .page {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
}

.office_main .page .page_container {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.office_main .page .page_btn {
    text-align: center;
    margin: 0px 2%;
    width: 36px;
}

.office_main .page .page_btn .page_box {
    border: 2px solid #f2f2f2;
    border-radius: 50%; 
    font-weight: bold;
    width: 100%;
    height: 100%;
    line-height: 2rem;
}

.office_main .page .page_btn .page_box:hover {
    box-shadow: 0 0 0.5rem 0.001rem rgba(0, 0, 0, 0.12);
}